<!-- src/app/Components/ubicacion/ubicacion.component.html -->
<button (click)="mostrarUbicacion()">Ubicacion Usuario</button>
<button (click)="volverAlUsuario()">Volver</button>
<button (click)="mostrarUbicacionRobot()">Robot</button>

<!-- Mapa -->
<div class="map-wrapper">
  <google-map
    [center]="center"
    [zoom]="zoom"
    [height]="'100%'"
    [width]="'100%'">
    
    <!-- Marcadores dinámicos -->
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label">
    </map-marker>
  </google-map>
</div>
