<div class="map-container">
  <google-map 
    [width]="'100%'" 
    [height]="'100%'"
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions">
    
    @for (marker of markers; track marker.tipo) {
      <map-marker
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title">
      </map-marker>
    }
  </google-map>

  <div class="map-controls">
    <button (click)="actualizarUbicacionUsuario()" class="control-button">
      <span name="locate"></span>
      Mi Ubicación
    </button>
    
    <button (click)="obtenerUbicacionRobot()" class="control-button">
      <span name="hardware-chip"></span>
      Ubicación Robot
    </button>
    
    <button (click)="volverAUsuario()" class="control-button return-button">
      <span name="return-up-back"> </span>
      Volver a Mí
    </button>
  </div>
</div>